// Import Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

$twitter-darkblue: #15202B;
$gray88: #8899a6;
$blue19: #192734;
$light-blue: #1da0f2;
$link: #1b95e0;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.bg-twitter {
  background-color: $twitter-darkblue;
}

.bg-blue-19 {
  background-color: $blue19;
}

.bg-light-blue {
  background-color: $light-blue;
}

.input-border {
  border-bottom: 2px solid $gray88;
}

.text-gray-88 {
  color: $gray88;
}

.text-light-blue {
  color: $light-blue;
}

.text-link {
  color: $link;
}

.appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
